.top-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    margin: 30px auto;
}

.sort-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.change-size-controls {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}

.plus-minus-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

p {
    margin: 0px;
    padding: 0px;
}